* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/mainback.png");
}
.slider-container {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .slider-bar {
    overflow: hidden;
    border-top: 1px solid #cccecf;
    border-bottom: 1px solid #cccecf;
    width: 60rem;
    height: 21rem;
    .sliders {
      transition: 0.5s;
      display: flex;
    }
  }
  .arrow {
    transform: rotate(-90deg);
    cursor: pointer;
    transition: 0.2s;
    padding: 0.7rem;
    border-radius: 50%;
    &:hover {
      transition: 0.2s;
      background-color: #cccecf;
    }
  }
  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 21rem;
    span {
      display: none;
    }
    .image {
      background-size: cover;
      border-radius: 70px;
      width: 22.6rem;
      height: 20rem;
    }
    .intro {
      margin: 0rem 3.7rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 19rem;
      width: 24rem;
      p {
        margin: 1rem 0rem;
        color: rgba(0, 0, 0, 0.51);
      }
      button {
        font-size: 1.3rem;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        color: #fff;
        width: 10rem;
        padding: 0.8rem 1.4rem;
        background-image: linear-gradient(rgb(255, 65, 65), rgb(216, 112, 112));
        &:hover {
          background-image: linear-gradient(
            rgb(216, 112, 112),
            rgb(255, 65, 65)
          );
        }
      }
    }
    .price {
      color: #39b3ca;
      font-weight: bold;
      background-color: #fff;
      margin-top: -12rem;
      font-size: 2rem;
      border: 7px solid #cccecf91;
      padding: 2rem 1rem;
      border-radius: 50%;
    }
  }
}

.Featured-Products {
  margin: 5rem 0rem;
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #d8dde0;
  p {
    border-bottom: 1px dashed rgb(135, 135, 135);
    padding: 1rem 0rem;
    font-size: 1.5rem;
    width: 60rem;
  }
  .secSlider-bar {
    overflow: hidden;

    border-bottom: 1px solid rgb(135, 135, 135);
    width: 60rem;
    height: 20rem;
    .secsliders {
      height: 100%;
      display: flex;
      align-items: center;
      transition: 0.2s;
      .SecProduct {
        padding: 0.6rem;
        background-color: #e7ebf0;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.267);
        height: 16rem;

        margin-left: 0.7rem;
        display: flex;
        //justify-content: center;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        span {
          width: 13rem;
          text-align: center;
          margin-bottom: 1px;
        }
        .prod-img {
          border: 1px solid rgba(0, 0, 0, 0.229);
          padding: 0.6rem;

          height: 10rem;
          max-width: 15rem;
        }
      }
    }
  }
}
